// _mq.scss
@media screen and (min-width: 1400px) {
	h1 {
	    // margin: 0;
	    padding: 23% 22.5% 25% 22.5%;
	    // font-size: 2em;
	}
	//
	ul.menu {
	  font-size: 1.1vw;
	  margin: 0 22.5%;
	}

  .sub-menu{
    font-size: .7vw;
  }

  header .nav-wrapper .consultation p {
      font-size: .75vw;
      margin: 0 20%;
  }
	//
	header .nav-wrapper .socialBtns ul li a {
	    font-size: 1.25vw;
	}
	//
	.contact .locations .topRow p {
	    margin: 0;
	    padding: 0;
	    font-size: 1.25rem;
	}
	//
	.homeGallery .full_width_image{
		height: 50vh;
		.innerKey {
		    transform: scale(1.45);
		}
	}
	.homeGallery .two_column_copy, .homeGallery .image_with_margin, .homeGallery .image_and_copy, .homeGallery .copy_and_image {
	  width: 60%;
	  margin: 0 20% 100px;
	}
	.homeGallery .showcaseTitle{
		width: 60%;
		margin: 0 20% 40px;
	}
	.homeGallery .full_width_image {
	    margin-bottom: 100px;
	}
	////////////////
	.portfolio .port_home .port_home_name h3 {
	    font-size: 2rem;
	}
	.process .process_block .process_collect .process_copy_right, .process .process_block .process_collect .process_copy_left {
	    // width: 100%;
		width: 45%;
	    margin: 100px 7.5%;
	    h3 {
	        font-size: 4rem;
	    }
	    p{
	    font-size: 1.3rem; 
	    }
	}
	.process .process_block .process_key {
	    height: 50vh;
	    .innerKey {
	        transform: scale(1.6);
	    }
	}
	////////////////
	.about .full_width_image {
	    height: 50vh;
	}
	.about .image_with_copy_overtop .copyBlock .aboutTitle2 {
	    font-size: 4rem;
	}
	.about .aboutTitle {
	    width: 60%;
	    margin: 100px 20% 40px;
	}
	.about .two_column_copy {
	    width: 60%;
	    margin: 0 20% 100px;
	    p{
	    	font-size: 1.5rem;
	    }
	}
	.about .image_with_copy_overtop{
	    height: 50vh;
		.copyBlock {
		    width: 20vw;
	        margin: 0 0 0 20%;
		    p{
		    	font-size: 1.5rem;
		    }
		}
	}
	.about .copy_and_image {
	    margin: 50px 0 100px 20%;
	    .copy{
	        margin: 100px 0;
	    	width: 40%;
	    	p{
	    		font-size: 1.5rem;
	    	}
	    }

	    .image{
	    	width: 55%;
	    	margin-left: 15%;
	    }
	}
	.about .image_and_copy {
	    .copy{
	        margin: 100px 0 0;
	    	width: 30%;
	    	p{
	    		font-size: 1.5rem;
	    	}
	    }
	    .image{
	    	margin-right: 10%;
	    }
	}
	////////////////
	.consultationFooter .consultation p {
	    font-size: 1.3vw;
	    padding: 7.5px 37.5px;
	    cursor: pointer;
	    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 1);
	}
	////////////////
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (min-width: 1600px) {
	h1 {
	    // margin: 0;
	    padding: 23% 22.5% 25% 22.5%;
	    // font-size: 2em;
	}
	//
	ul.menu {
	  font-size: 1.1vw;
	  margin: 0 22.5%;
	}

  .sub-menu{
    font-size: .7vw;
  }

  header .nav-wrapper .consultation p {
      font-size: .75vw;
      margin: 0 20%;
  }
	//
	header .nav-wrapper .socialBtns ul li a {
	    font-size: 1.25vw;
	}
	//
	.contact .locations .topRow p {
	    margin: 0;
	    padding: 0;
	    font-size: 1.25rem;
	}
	//
	.homeGallery .full_width_image{
		height: 50vh;
		.innerKey {
		    transform: scale(1.45);
		}
	}
	.homeGallery .two_column_copy, .homeGallery .image_with_margin, .homeGallery .image_and_copy, .homeGallery .copy_and_image {
	  width: 60%;
	  margin: 0 20% 100px;
	}
	.homeGallery .showcaseTitle{
		width: 60%;
		margin: 0 20% 40px;
	}
	.homeGallery .full_width_image {
	    margin-bottom: 100px;
	}
	////////////////
	.portfolio .port_home .port_home_name h3 {
	    font-size: 2rem;
	}
	.process .process_block .process_collect .process_copy_right, .process .process_block .process_collect .process_copy_left {
	    // width: 100%;
		width: 45%;
	    margin: 100px 7.5%;
	    h3 {
	        font-size: 4rem;
	    }
	    p{
	    font-size: 1.3rem; 
	    }
	}
	.process .process_block .process_key {
	    height: 50vh;
	    .innerKey {
	        transform: scale(1.6);
	    }
	}
	////////////////
	.about .full_width_image {
	    height: 50vh;
	}
	.about .image_with_copy_overtop .copyBlock .aboutTitle2 {
	    font-size: 4rem;
	}
	.about .aboutTitle {
	    width: 60%;
	    margin: 100px 20% 40px;
	}
	.about .two_column_copy {
	    width: 60%;
	    margin: 0 20% 100px;
	    p{
	    	font-size: 1.5rem;
	    }
	}
	.about .image_with_copy_overtop{
	    height: 50vh;
		.copyBlock {
		    width: 20vw;
	        margin: 0 0 0 20%;
		    p{
		    	font-size: 1.5rem;
		    }
		}
	}
	.about .copy_and_image {
	    margin: 50px 0 100px 20%;
	    .copy{
	        margin: 100px 0;
	    	width: 40%;
	    	p{
	    		font-size: 1.5rem;
	    	}
	    }

	    .image{
	    	width: 55%;
	    	margin-left: 15%;
	    }
	}
	.about .image_and_copy {
	    .copy{
	        margin: 100px 0 0;
	    	width: 30%;
	    	p{
	    		font-size: 1.5rem;
	    	}
	    }
	    .image{
	    	margin-right: 10%;
	    }
	}
	////////////////
	.consultationFooter .consultation p {
	    font-size: 1.3vw;
	    padding: 7.5px 37.5px;
	    cursor: pointer;
	    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 1);
	}
	////////////////
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 1200px) {
	//CONTACT
	.line01{
		display: block;
	}
	.contact .locations .topRow .contactInfo {
	    bottom: 10px;
	    p{
		    font-size: 1.2rem;
	    }
	}

	//ABOUT
	.about .image_with_copy_overtop .copyBlock {
	    width: 25vw;
	}
	.about .image_with_copy_overtop {
	    height: 50vh;
	}
		

}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 1200px) {
	.contact .locations .mapRow .contactFormSpace {
	    padding: 30px;
    }
    .contact .locations .mapRow .contactFormSpace .contactForm {
        padding: 0 40px;
    }
    .contact .locations .topRow .contactTab {
        font-size: 2vw;
    }
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 500px) {
	header .nav-wrapper {
	    min-height: 400px;
	}

}

@media screen and (max-width: 1024px) {

	.process .process_block .process_collect .process_copy {
	    padding: 100px 0;
	}
	.process .process_block .process_key {
	    height: 45vh;
	}
	.process .process_block .process_collect .process_copy {
	    width: 40%;
	}
	.homeGallery {
	    font-size: 1.2rem;
	}
	.homeGallery .full_width_image {
	    height: 45vh;
	}
	ul.menu {
	    font-size: 1.6vw;
	}
	.sub-menu {
	    font-size: 1.1vw;
	}
	header .nav-wrapper {
	    min-height: 400px;
	}
	.contact .contactForm {
	    width: 30%;
	    padding: 25px 3% 0;
	}
	.contact .locations .mapRow {
	    height: 70vh;
	}
	header .nav-wrapper .consultation p {
	    font-size: 1.25vw;
	}

}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
// @media only screen 
//   and (min-device-width: 768px) 
//   and (max-device-width: 1024px) 
//   and (orientation: portrait) 
//   and (-webkit-min-device-pixel-ratio: 1) {
	
// 	h1 {
// 	    padding: 15% 18.5% 15% 18.5%;
// 	}
// 	ul.menu {
// 	    line-height: 1.3;
// 	}
// 	.sub-menu {
// 	    padding-left: 5px; 
// 	}
// 	.portfolio .port_home {
// 	    width: 50%;
// 	    margin: 0;
// 	}
// 	.contact .locations .topRow .title::before {
// 	    left: 8px;
// 	    content: "";
// 	}
// 	.contact .locations .topRow .tabTwo {
// 	    padding: 12px 12px 12px 20px;
// 	    width: 33%;
// 	    left: 33.5%;
// 	}
// 	.contact .locations .topRow .tabOne {
// 	    padding: 12px 12px 12px 20px;
// 	    width: 33%;

// 	}
	


// }
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 950px) {
	.contact .locations .topRow .contactTab {
	    font-size: 2vw;
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 900px) {
	h1 {
	    padding: 15% 18.5% 15% 18.5%;
	}
	ul.menu {
	    line-height: 1.3;
	}
	.sub-menu {
	    padding-left: 5px; 
	}
	.portfolio .port_home {
	    width: 50%;
	    margin: 0;
	}
	.contact .locations .topRow .title::before {
	    left: 8px;
	    content: "";
	}
	.contact .locations .topRow .tabTwo {
	    padding: 12px 12px 12px 20px;
	    width: 33%;
	    left: 67%;
	}
	.contact .locations .topRow .tabOne {
	    padding: 12px 12px 12px 20px;
	    width: 33%;

	}
	.contact .locations .topRow .contactTab {
	    font-size: 2vw;
	}
	.contact .locations {
	    margin-left: 5%;
	}
	.contact .locations .mapRow .contactFormSpace .contactImage {
	    width: 40%;
	}
	.contact .locations .mapRow .contactFormSpace .contactForm {
	    width: 60%;
	    // padding: 0 75px;
	}
	.contact .wpcf7 input {
		font-size: 1rem;
	    padding: 5px;
	    margin-top: 4px;
	}
	.contact .wpcf7 textarea {
		font-size: 1rem;
	    padding: 8px;
	    margin-top: 4px;
	    margin-bottom: 10px;
	    height: 10vh;
	}
	.wpcf7-not-valid-tip {
	    padding: 0 !important;
	    margin: 0 !important;
	    margin-bottom: 0 !important;
	}
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media screen and (max-width: 850px) {
	.contact .locations .mapRow {
	    height: 60vh;
	}

}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media only screen 
and (max-width : 736px) {
	$douce: cubic-bezier(.5,.5,.5,1);
	//
	.roomsHook{
		display: none;
	}
	//
	header{
		width: 100%;
		max-width: 100%;
		background: #f7f7f5;
		height: 18vh;
		.nav-wrapper-mobile{
		  display: block; 
		  position: fixed;
		  z-index: 90001;
		  width: 100%;
			height: 18vh;
		  background: #f7f7f5;
		}
		h1{
			width: 40%;
			float: left;
			padding: 2% 12% 0 4%;
			margin-right: 45%;
		}
		.hamMenu{
			position: relative;
			width: 15%;
			height: 100%;
			float: left;
			font-size: 4vw;
			z-index: 90002;
			background: #f7f7f5;
			transition: all .5s $douce;
			//
			.nav{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);	
			}	
		}
	}
	// 
	.nav-container-mobile{
		display: block!important;
		position: fixed;
		top:-100vh;
		background: rgba($brown, .95);
		margin: 0;
		width: 100%;
		height: 85vh;
		z-index: 90000;
		text-align: center;
		padding-top: 30px;
		transition: top .5s $douce;
		#menu-primary-navigation-1{
			font-size: 4vw;
			line-height: 1.5;
		}
		.nav-container-mobile-bottom{
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 50%;
			padding-bottom: 35px;
			.icon{
				padding-bottom: 10px;
				width: 100%;
				float: right;
				clear: right;

					ul{
					  margin: 0;
					  padding: 0;
					  li{
					    margin: 0;
					    padding: 0;
					    padding-right: 15%;
					  display: inline;
					  &:last-child{
					    padding-right: 0;
					  }
					 
					  a{
					    font-size: 7.5vw;
					    color: $white;
					    transition: all .25s $douce;
					    &:hover{
					      color: $green 
					    }
					  }
					}
				}
			}
			.consult {
				padding-bottom: 20px;
				width: 100%;
				float: right;
				clear: right;
				p{
				// .consultationFooter .consultation p {
				    display: inline-block;
				    color: #fff;
				    font-family: 'Taviraj', serif;
				    font-size: 3.5vw;
				    font-weight: 300;
				    text-align: center;
				    border: 1px solid #fff;
				    border-radius: 4px;
				    padding: 10px 50px;
				    cursor: pointer;
				    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 1);
				// }
				}
			}
			.social{
				width: 100%;
				float: right;
				clear: right;
				padding-bottom: 20px;
					ul{
					  margin: 0;
					  padding: 0;
					  li{
					    margin: 0;
					    padding: 0;
					    padding-right: 10%;
					  display: inline;
					  &:last-child{
					    padding-right: 0;
					  }
					 
					  a{
					    font-size: 6vw;
					    color: $white;
					    transition: all .25s $douce;
					    &:hover{
					      color: $green 
					    }
					  }
					}
				}
			}
		}
	}
	
	/////////////////////////////
	.nav-slide-in{
		top: 18vh!important;
	}
	.bg-brown{
		background: rgba($brown, .95)!important;
		color: $white!important;
	}
	/////////////////////////////
	//
	.nav-container-mobile #menu-primary-navigation-1, .nav-container-mobile #menu-primary-navigation {
	    font-size: 4vw;
	    line-height: 1.5;
	    width: 50%;
	    text-align: left;
	    padding-left: 15%;
	    float: left;
	}
	ul.menu {
		margin: 0;
		float: left;
		text-align: left;
	}
	ul.menu li a{
		color: $white!important;
		font-size: 4vw;
		line-height: 1.65;
	}
	// 
	.containerHook{
		display: none;
	}
	///////////////////
	///////////////////
	.mobile-fadeIn{
		opacity: 1!important;
	}
	.mobile-bringIt{
		z-index: 5000!important;
	}
	///////////////////
	///////////////////
	.mobileHome{
		font-family: 'Taviraj', serif;
		font-weight: 300;
		display: block;
		position: relative;
		height: 85vh;
		background: #f7f7f5;
		//
		.slides{
			position: relative;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 5000;
			li{
				position: absolute;
				top:0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity 1.5s $douce;
				.mobileShowcaseHolder{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					//
					background-size: cover;
					background-position: center center;
					.titleOverlay{
						position: absolute;
						bottom: 0;
						width: 100%;
						background: rgba($brown, .85);
						padding: 20px 30px;
						p{
							font-size: 5vw;
							color: $white;
							margin: 0;
						}
						p.cta{
							display: none;
							font-size: 4.5vw;
							color: rgba($white, .75);
						}
					}
				}
			}
		}
	}
	.nav-wrapper{
		display: none;
	}

	.main{
		padding:0;
		padding-top: 15vh;
	}
	.col1 {
	    width: 100%;
	    margin-bottom: 0;
	    .showcase01{
	    	height: 40vh;
	    }
	}
	.col2 {
	    width: 50%;
	    height: 45vh;
	    padding-left: 0;
	    float: right;
	    .showcase02{
	    	height: 45vh;
	    }
	}
	.col3{
	  width: 50%;
	  height: 45vh;
	  float: left;
	  .showcase03{
	  	width: 100%;
	  }
	}
	.processHolder, .aboutHolder{
		display: none;
	}
	///////////////
	///////////////
	///////////////
	.portfolio, .stories{
		.port_home{
			width: 100% !important;
			height: 60vh;
			margin: 0;
			.port_home_name {
				background: rgba($brown, .85);
				h3{
					font-size: 2.5vw;
				}
			}
		}
		// .lower_row_home {
		//     width: 100% !important;
		// }
	}
	///////////////
	///////////////
	///////////////
	.mobileRoom{
		height: 85vh;
		position: relative;
		width: 100%;
		.roomCloseOverlayButton{
			display: block;
			position: absolute;
			top: 5%;
			right: 10%;
			z-index: 89999;
			width: 25px;
		}
		.handInstruction{
			opacity: .85;
			width: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgba($brown, .75);
			font-size: 4rem;
			z-index: 89998;
			background: $white;
			padding: 10px 0;
			border-radius: 5px;
			transition: opacity 1s ease;
			.leftArrow{
				float: left;
				width: 33%;
				text-align: center;
			}
			.hand{
				float: left;
				width: 33%;
				text-align: center;
			}
			.rightArrow{
				float: left;
				width: 33%;
				text-align: center;
			}

		}
		.flex-viewport{
			height: 100%;
			.slides{
				height: 100%;
				.roomSlides {
				    width: 100%;
				    height: 100%;
				    opacity: 1!important;
				    background-size: contain; 
				    background-repeat: no-repeat;
				    background-position: center;
				}
			}
		}
	}
	///////////////
	///////////////
	///////////////
	.mobile-map{
		font-family: 'Taviraj', serif;
		font-weight: 300;
		font-size: 2.5vw;
		height: 85vh;
		.topRow{
			width: 100%;
			position: absolute;
			height: 15vh;
			top: 0;
			.tabOne{
				padding: 20px;
				padding-left: 25px;
				float: left;
				width: 50%;
				height: 100%;
				opacity: .85;
				color: $white;
				background: rgba($brown, 0.8);
				.title{
					font-size: 3.5vw;
					font-weight: 400;
				}
				p{
					margin: 0;
				}
			}
			.tabTwo{
				// display: none;
				padding: 20px;;
				padding-left: 25px;
				float: left;
				width: 50%;
				height: 100%;
				opacity: .85;
				color: $white;
				background: rgba($brown, 0.8);
				.title{
					font-size: 3.5vw;
					font-weight: 400;
				}
				p{
					margin: 0;
				}

			}

		}
		.mapRow{
			position: absolute;
			top: 15vh;
			width: 100%;
			height: 70vh;
			.map01, .map02{
				width: 100%;
				height: 100%;
			}
		}
	}
	.map-tab-opacity{
		opacity: 1!important;
		background: rgba(247, 247, 245, 0.8)!important;
		color: $brown!important;
	}
	//////////////////
	.contact{
		height: auto;
		.locations{
			width: 100%;
			margin-left: 0;
			background: $white;
			// background: none;
			.topRow, .contactImage, .map01, .map02, .consultTwo{
				display: none;
			}
			.numberRow{
			    font-size: 4vw;
			    height: 10vh;
			    padding: 15px;
			    padding-top: 20px;
			    background: #f7f7f5;
			}
			.mapRow{
			    min-height: auto;
			    height: 75vh;
				.contactFormSpace {
				    height: auto;
				    padding: 0 30px;
				    padding-top: 8px;
				    background: #fff;
				    .contactForm{
				    	padding: 0;
				    	width: 100%;
				    	margin-top: 25px;
				    	h3{
				    		font-size: 4vw;
				    	}
				    }
				}
			}
		}
		.wpcf7 input {
			font-size: 1.75rem;	
		}
		.wpcf7 textarea {
		    font-size: 1.75rem;
		    padding: 8px;
		    margin-top: 4px;
		    margin-bottom: 10px;
		    height: 30vh;
		}

	}
	//
	.wpcf7-not-valid-tip, .wpcf7-validation-errors {
	    font-size: 3.25vw !important;
	}
	//
	.contact input.wpcf7-submit, .overlay .consultationForm input.wpcf7-submit{
	    padding: 8px;
	    font-size: 2.5vw;
	}
	//////////////////
	//////////////////
	//////////////////
	.overlay .consultationForm {
	    position: absolute;
	    top: 15vh;
	    width: 100%;
	    left: auto;
	    transform: none;
	    padding: 0 30px;
	    padding-top: 40px;
	    h2{
	    	font-size: 7vw;
	    }
	}
	/////////
	.consultationFooter {
		display: none;
		padding: 20px 0;
		.consultation{

		//
		p{
			font-size: 4.5vw;
		}
		//
	}
	} 
	/////////////////////
	/////////PROCESS
	/////////////////////
	.process .process_block .process_key {
	    height: 55vh;
	}
	.process .process_block .process_key .innerKey {
	    transform: scale(1.1);
	}
	.process .process_block .process_collect {
	    display: block;
	}
	.process .process_block .process_collect{
		.process_copy {
		    width: 80%;
		    padding-top: 40px;
		}
		.process_image_left, .process_image_right {
		    display: none;
	    } 
	}
	//////////////
	//////////////
	//////////////
	.about .two_column_copy {
	    column-count: 1;
	}
	.about .image_with_copy_overtop .copyBlock {
	    width: 80vw;
	}
	.about .full_width_image {
	    height: 30vh;
	}
	.about .copy_and_image, .about .image_and_copy {
	    margin: 0;
	    display: block;
	    .image{
	    	height: 200px;
			margin-left: 0;
			margin-right: 0;
	    }
	    .image, .copy{
	    	width: 100%;
	    }
	    .copy{
			padding: 10%;
	    }
	}


	.about .copy_and_image{
		.image{
			float: none;
			padding-left: 10%;
		    background-position: 50px center;
		    background-repeat: no-repeat;
		}
		.copy{
			padding-top: 150px;
		}
	}
	////////
	////////
	////////
	.homeGallery .full_width_image {
	    height: 25vh;
	    margin-bottom: 0;
	}
	.homeGallery .showcaseTitle {
	    margin: 25px 10% 40px;
	}
	.homeGallery .showcaseTitle {
	    line-height: 1.15;
	    padding-bottom: 15px;
	}
	.homeGallery .two_column_copy {
	    column-count: 1;
	}
	.homeGallery .image_and_copy, .homeGallery .copy_and_image{
		margin-top: 40px;
		display: block;
		.copy, .image{
			float: none;
			width: 100%;
		}	
		.image{
			height: 200px;
		}
		.copy{
			padding-left: 0;
			margin-top: 30px;
		}
	} 
	.homeGallery .image_with_margin {
	    width: 100%;
	    margin: 0 0 60px;
	}
	
}
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
@media only screen 
and (max-width : 500px) {
	$douce: cubic-bezier(.5,.5,.5,1);
	//
	.roomsHook{
		display: none;
	}
	//
	header{
		width: 100%;
		max-width: 100%;
		background: #f7f7f5;
		height: 15vh;
		.nav-wrapper-mobile{
		  display: block; 
		  position: fixed;
		  z-index: 90001;
		  width: 100%;
			height: 15vh;
		  background: #f7f7f5;
		}
		h1{
			width: 75%;
			float: left;
			padding: 6% 12% 0 7.5%;
			margin-right: 0;
		}
		.hamMenu{
			position: relative;
			width: 25%;
			height: 100%;
			float: left;
			font-size: 8vw;
			z-index: 90002;
			background: #f7f7f5;
			transition: all .5s $douce;
			//
			.nav{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);	
			}	
		}
	}
	// 
	.nav-container-mobile{
		display: block!important;
		position: fixed;
		top:-100vh;
		background: rgba($brown, .95);
		margin: 0;
		width: 100%;
		height: 85vh;
		z-index: 90000;
		text-align: center;
		padding-top: 20px;
		transition: top .5s $douce;
		#menu-primary-navigation-1, #menu-primary-navigation{
			font-size: 7vw;
			line-height: 1.5;
			text-align: center;
			width: 100%;
			padding-left: 0;
		}
		.nav-container-mobile-bottom{
			position: absolute;
			bottom: 0;
			left:0;
			width: 100%;
			padding-bottom: 60px;
			.icon{
				padding-bottom: 0;
				width: 100%;
					ul{
					  margin: 0;
					  padding: 0;
					  li{
					    margin: 0;
					    padding: 0;
					    padding-right: 15%;
					  display: inline;
					  &:last-child{
					    padding-right: 0;
					  }
					 
					  a{
					    font-size: 10vw;
					    color: $white;
					    transition: all .25s $douce;
					    &:hover{
					      color: $green 
					    }
					  }
					}
				}
			}
			.consult {
				padding-bottom: 0;
				width: 100%;
				p{
				// .consultationFooter .consultation p {
				    display: inline-block;
				    color: #fff;
				    font-family: 'Taviraj', serif;
				    font-size: 5vw;
				    font-weight: 300;
				    text-align: center;
				    border: 1px solid #fff;
				    border-radius: 4px;
				    padding: 10px 50px;
				    cursor: pointer;
				    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 1);
				// }
				}
			}
			.social{
				width: 100%;
					ul{
					  margin: 0;
					  padding: 0;
					  li{
					    margin: 0;
					    padding: 0;
					    padding-right: 10%;
					  display: inline;
					  &:last-child{
					    padding-right: 0;
					  }
					 
					  a{
					    font-size: 6vw;
					    color: $white;
					    transition: all .25s $douce;
					    &:hover{
					      color: $green 
					    }
					  }
					}
				}
			}
		}
	}
	
	/////////////////////////////
	.nav-slide-in{
		top: 15vh!important;
	}
	.bg-brown{
		background: rgba($brown, .95)!important;
		color: $white!important;
	}
	/////////////////////////////
	//
	ul.menu{
		text-align: center;
	}
	ul.menu li a{
		color: $white!important;
		font-size: 6vw;
		line-height: 1.8;
	}
	// 
	.containerHook{
		display: none;
	}
	///////////////////
	///////////////////
	.mobile-fadeIn{
		opacity: 1!important;
	}
	.mobile-bringIt{
		z-index: 5000!important;
	}
	///////////////////
	///////////////////
	.mobileHome{
		font-family: 'Taviraj', serif;
		font-weight: 300;
		display: block;
		position: relative;
		height: 85vh;
		background: #f7f7f5;
		//
		.slides{
			position: relative;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 5000;
			li{
				position: absolute;
				top:0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity 1.5s $douce;
				.mobileShowcaseHolder{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					//
					background-size: cover;
					background-position: center center;
					.titleOverlay{
						position: absolute;
						bottom: 0;
						width: 100%;
						background: rgba($brown, .85);
						padding: 60px 30px 90px;
						p{
							font-size: 6.5vw;
							color: $white;
							margin: 0;
						}
						p.cta{
							font-size: 4.5vw;
							color: rgba($white, .75);
						}
					}
				}
			}
		}
	}
	.nav-wrapper{
		display: none;
	}

	.main{
		padding:0;
		padding-top: 15vh;
	}
	.col1 {
	    width: 100%;
	    margin-bottom: 0;
	    .showcase01{
	    	height: 40vh;
	    }
	}
	.col2 {
	    width: 50%;
	    height: 45vh;
	    padding-left: 0;
	    float: right;
	    .showcase02{
	    	height: 45vh;
	    }
	}
	.col3{
	  width: 50%;
	  height: 45vh;
	  float: left;
	  .showcase03{
	  	width: 100%;
	  }
	}
	.processHolder, .aboutHolder{
		display: none;
	}
	///////////////
	///////////////
	///////////////
	.portfolio, .stories{
		.port_home{
			width: 100% !important;
			height: 35vh;
			margin: 0;
			.port_home_name {
				background: rgba($brown, .85);
				h3{
					font-size: 4.5vw;
				}
			}
		}
		// .lower_row_home {
		//     width: 100% !important;
		// }
	}
	///////////////
	///////////////
	///////////////
	.mobileRoom{
		height: 85vh;
		position: relative;
		width: 100%;
		.roomCloseOverlayButton{
			display: block;
			position: absolute;
			top: 5%;
			right: 10%;
			z-index: 89999;
			width: 25px;
		}
		.handInstruction{
			opacity: .85;
			width: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgba($brown, .75);
			font-size: 4rem;
			z-index: 89998;
			background: $white;
			padding: 10px 0;
			border-radius: 5px;
			transition: opacity 1s ease;
			.leftArrow{
				float: left;
				width: 33%;
				text-align: center;
			}
			.hand{
				float: left;
				width: 33%;
				text-align: center;
			}
			.rightArrow{
				float: left;
				width: 33%;
				text-align: center;
			}

		}
		.flex-viewport{
			height: 100%;
			.slides{
				height: 100%;
				.roomSlides {
				    width: 100%;
				    height: 100%;
				    opacity: 1!important;
				    background-size: contain; 
				    background-repeat: no-repeat;
				    background-position: center;
				}
			}
		}
	}
	///////////////
	///////////////
	///////////////
	.mobile-map{
		font-family: 'Taviraj', serif;
		font-weight: 300;
		font-size: 2.5vw;
		height: 85vh;
		.topRow{
			width: 100%;
			position: absolute;
			height: 15vh;
			top: 0;
			.tabOne{
				padding: 20px;
				padding-left: 25px;
				float: left;
				width: 50%;
				height: 100%;
				opacity: .85;
				color: $white;
				background: rgba($brown, 0.8);
				.title{
					font-size: 3.5vw;
					font-weight: 400;
				}
				p{
					margin: 0;
				}
			}
			.tabTwo{
				// display: none;
				padding: 20px;;
				padding-left: 25px;
				float: left;
				width: 50%;
				height: 100%;
				opacity: .85;
				color: $white;
				background: rgba($brown, 0.8);
				.title{
					font-size: 3.5vw;
					font-weight: 400;
				}
				p{
					margin: 0;
				}

			}

		}
		.mapRow{
			position: absolute;
			top: 15vh;
			width: 100%;
			height: 70vh;
			.map01, .map02{
				width: 100%;
				height: 100%;
			}
		}
	}
	.map-tab-opacity{
		opacity: 1!important;
		background: rgba(247, 247, 245, 0.8)!important;
		color: $brown!important;
	}
	//////////////////
	.contact{
		height: auto;
		.locations{
			width: 100%;
			margin-left: 0;
			background: $white;
			// background: none;
			.topRow, .contactImage, .map01, .map02, .consultTwo{
				display: none;
			}
			.numberRow{
			    font-size: 4vw;
			    height: 10vh;
			    padding: 15px;
			    padding-top: 20px;
			    background: #f7f7f5;
			}
			.mapRow{
			    min-height: auto;
			    height: 75vh;
				.contactFormSpace {
				    height: 75vh;
				    padding: 0 30px;
				    padding-top: 8px;
				    background: #fff;
				    .contactForm{
				    	padding: 0;
				    	width: 100%;
				    	h3{
				    		font-size: 6vw;
				    	}
				    }
				}
			}
		}
	}
	//
	.wpcf7-not-valid-tip, .wpcf7-validation-errors {
	    font-size: 3.25vw !important;
	}
	//
	.contact input.wpcf7-submit, .overlay .consultationForm input.wpcf7-submit{
	    padding: 8px;
	    font-size: 4.5vw;
	}
	//////////////////
	//////////////////
	//////////////////
	.overlay .consultationForm {
	    position: absolute;
	    top: 15vh;
	    width: 100%;
	    left: auto;
	    transform: none;
	    padding: 0 30px;
	    padding-top: 40px;
	    h2{
	    	font-size: 7vw;
	    }
	}
	/////////
	.consultationFooter {
		display: none;
		padding: 20px 0;
		.consultation{

		//
		p{
			font-size: 4.5vw;
		}
		//
	}
	} 
	/////////////////////
	/////////PROCESS
	/////////////////////
	.process .process_block .process_key {
	    height: 25vh;
	}
	.process .process_block .process_key .innerKey {
	    transform: scale(1.1);
	}
	.process .process_block .process_collect {
	    display: block;
	}
	.process .process_block .process_collect{
		.process_copy {
		    width: 80%;
		    padding-top: 40px;
		}
		.process_image_left, .process_image_right {
		    display: none;
	    } 
	}
	//////////////
	//////////////
	//////////////
	.about .two_column_copy {
	    column-count: 1;
	}
	.about .image_with_copy_overtop .copyBlock {
	    width: 80vw;
	}
	.about .full_width_image {
	    height: 30vh;
	}
	.about .copy_and_image, .about .image_and_copy {
	    margin: 0;
	    display: block;
	    .image{
	    	height: 200px;
			margin-left: 0;
			margin-right: 0;
	    }
	    .image, .copy{
	    	width: 100%;
	    }
	    .copy{
			padding: 10%;
	    }
	}


	.about .copy_and_image{
		.image{
			float: none;
			padding-left: 10%;
		    background-position: 50px center;
		    background-repeat: no-repeat;
		}
		.copy{
			padding-top: 150px;
		}
	}
	////////
	////////
	////////
	.homeGallery .full_width_image {
	    height: 25vh;
	    margin-bottom: 0;
	}
	.homeGallery .showcaseTitle {
	    margin: 25px 10% 40px;
	}
	.homeGallery .showcaseTitle {
	    line-height: 1.15;
	    padding-bottom: 15px;
	}
	.homeGallery .two_column_copy {
	    column-count: 1;
	}
	.homeGallery .image_and_copy, .homeGallery .copy_and_image{
		margin-top: 40px;
		display: block;
		.copy, .image{
			float: none;
			width: 100%;
		}	
		.image{
			height: 200px;
		}
		.copy{
			padding-left: 0;
			margin-top: 30px;
		}
	} 
	.homeGallery .image_with_margin {
	    width: 100%;
	    margin: 0 0 60px;
	}
	
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
	// body{
	// 	display: none;
	// }
	.roomsHook{
		display: none;
	}
	///////////////
		///////////////
		///////////////
		.mobileRoom{
			height: 100vh;
			position: relative;
			width: 100%;
			.roomCloseOverlayButton{
				display: block;
				position: absolute;
				top: 5%;
				right: 10%;
				z-index: 89999;
				width: 25px;
			}
			.handInstruction{
				opacity: .85;
				width: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: rgba($brown, .75);
				font-size: 4rem;
				z-index: 89998;
				background: $white;
				padding: 10px 0;
				border-radius: 5px;
				transition: opacity 1s ease;
				.leftArrow{
					float: left;
					width: 33%;
					text-align: center;
				}
				.hand{
					float: left;
					width: 33%;
					text-align: center;
				}
				.rightArrow{
					float: left;
					width: 33%;
					text-align: center;
				}

			}
			.flex-viewport{
				height: 100%;
				.slides{
					height: 100%;
					.roomSlides {
					    width: 100%;
					    height: 100%;
					    opacity: 1!important;
					    background-size: contain; 
					    background-repeat: no-repeat;
					    background-position: center;
					}
				}
			}
		}

}
/////////////////////////
/////////////////////////
/////////////////////////
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { 

	header{
		width: 25%;
	}
	h1 {
	    padding: 22% 18.5% 22% 18.5%;
	}
	.main {
	    padding-left: 25%;
	}
	.overlay .consultationForm {
	    width: 60%;
	    padding: 0;
	}
	.col1 .showcase01 .rolloverTitle .rolloverP {
	    margin-top: 0;
	}
	.col2 .showcase02 .rolloverTitle .rolloverP {
	    margin-top: 0;
	}
	.col3 .showcase03 .rolloverTitle .rolloverP {
	    margin-top: 0;
	}

	.col1 {
	    width: 100%;
	    float: left;
        margin-bottom: 1vh;
	    .showcase01 {
	        height: 32.666vh;
	        .rolloverTitle .rolloverP{
    			font-size: 2.25vw;
    		}
	    }
	}
	.col2 {

	    width: 100%;
	    height: 32.666vh;
	    padding-left: 0;
	    margin-bottom: 1vh;
	    float: left;
	    .showcase02 {
	        height: 100%;
	        width: 58%;
	        float: left;
		    // padding-left: 1vh;
		    .rolloverTitle .rolloverP{
    			font-size: 2.25vw;
    		}
	    }
	    .processHolder {
	        height: 100%;
	        margin-bottom: 0;
	        width: 40%;
	        float: left;
            margin-right: 2%;
	        .rolloverTitle .rolloverP{
    			font-size: 2.25vw;
    		}
	    }
	}
	.col3 {
		.aboutHolder .aboutInnerHolder .rolloverTitle .rolloverP{
			font-size: 2.25vw;
		}
		width: 100%;
		height: 32.666vh;
		.showcase03 {
		    float: left;
		    width: 45%;
		    .rolloverTitle .rolloverP{
    			font-size: 2.25vw;
    		}
		}
		.aboutHolder {
		    position: relative;
		    width: 55%;
		    height: 100%;
		    padding-right: 1vh;
		    float: left;
		    .rolloverTitle .rolloverP{
    			font-size: 2.25vw;
    		}
		}
	}




	ul.menu {
	    font-size: 1.8vw;
	    line-height: 1.6;
	}
	.sub-menu {
	    font-size: 1.2vw;
	    line-height: 1.4;
	}
	/////////////////////////
	/////////////////////////
	/////////////////////////
	.contact .locations .mapRow .contactFormSpace .contactImage {
	    width: 100%;
	}
	.contact .locations .mapRow .contactFormSpace .contactImage .innerContactImage {
	    height: 12.5vh;
	}
	.contact .locations .mapRow .contactFormSpace .contactForm {
	    width: 100%;
	}
	.contact .locations .mapRow .contactFormSpace .contactImage {
	    height: 30vh;
	}
	.contact .locations .mapRow .contactFormSpace .contactForm h3 {
	    font-size: 3vw;
	}
	.contact .locations .mapRow .contactFormSpace .contactForm {
	    padding: 0 70px;
	}
	.contact .locations {
		margin-top: 5vh;
	}
	.rollover {
	    opacity: 1;
        top: auto;
        bottom: 0;
        height: 10vh;
	}
	.col1 .showcase01 .rolloverTitle, .col2 .showcase02 .rolloverTitle, .col3 .showcase03 .rolloverTitle, .col2 .processHolder .rolloverTitle, .col3 .aboutHolder .aboutInnerHolder .rolloverTitle {
		opacity: 1;
	}
	.col1 .showcase01 .rolloverTitle .rolloverIcon  {
	    display: none;
	}
	.col2 .showcase02 .rolloverTitle .rolloverIcon  {
	    display: none;
	}
	.col3 .showcase03 .rolloverTitle .rolloverIcon  {
	    display: none;
	}

	.rollover {
		display: block;
	    opacity: 0;
        top: auto;
        bottom: 0;
        height: 7vw;
        	transition: opacity 1.5s $douce;
        .rolloverTitle{
        	display: block;
        }
        .rolloverP{
        	margin: 0;
        	padding: 0;
        }
	}
}
/////////////////////////
/////////////////////////
/////////////////////////
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 

			.rollover {
				display: block;
			    opacity: 0;
		        top: auto;
		        bottom: 0;
		        height: 7vw;
		        	transition: opacity 1.5s $douce;
		        .rolloverTitle{
		        	display: block;
		        }
		        .rolloverP{
		        	margin: 0!important;
		        	padding: 0!important;
		        }

			}
			.col1 .showcase01 .rolloverTitle, .col2 .showcase02 .rolloverTitle, .col3 .showcase03 .rolloverTitle, .col2 .processHolder .rolloverTitle, .col3 .aboutHolder .aboutInnerHolder .rolloverTitle {
				opacity: 1;
			}
			.col1 .showcase01 .rolloverTitle .rolloverIcon  {
			    display: none;
			}
			.col2 .showcase02 .rolloverTitle .rolloverIcon  {
			    display: none;
			}
			.col3 .showcase03 .rolloverTitle .rolloverIcon  {
			    display: none;
			}
			//
			.col1 .showcase01 .rolloverTitle .rolloverP {
			    font-size: 2.25vw;
			}
			.col2 .showcase02 .rolloverTitle .rolloverP {
			    font-size: 2.25vw;
			}
			.col2 .processHolder .rolloverTitle .rolloverP {
			    font-size: 2.25vw;
			}
			.col3 .showcase03 .rolloverTitle .rolloverP {
			    font-size: 2.25vw;
			}
			.col3 .aboutHolder .aboutInnerHolder .rolloverTitle .rolloverP {
			    font-size: 2.25vw;
			}

			.col3 .aboutHolder {
				width: 45%;
			}
			.col3 .showcase03 {
			    width: 55%;
			}
}

@media only screen 
  and (max-device-width: 320px)  {


	ul.menu li a{
		color: $white!important;
		font-size: 6vw;
		line-height: 1.8;
	}
	// 
	.nav-container-mobile{

		padding-top: 20px;

		.nav-container-mobile-bottom{
			padding-bottom: 10px;
			.icon{
				padding-bottom: 0;
				width: 100%;
					
				}
			}
			.consult {
				padding-bottom: 0;
			}
			
		}
		.nav-container-mobile .nav-container-mobile-bottom .social {
		    padding-bottom: 20px;
		}
		.nav-container-mobile .nav-container-mobile-bottom .consult {
		    padding-bottom: 0;
		}

}